{$CADDY_DOMAIN} {
  root * /srv/public
  encode zstd gzip

  # Serve static files directly
  @static path /build/* /images/* /favicon.ico /robots.txt /storage/*
  handle @static {
    file_server
  }

  @httpOnly expression `{env.TLS_MODE} == "http"`
  @internalTls expression `{env.TLS_MODE} == "internal"`

  handle @httpOnly {
    tls off
    reverse_proxy waypoint-app:9000
  }

  handle @internalTls {
    tls internal
    reverse_proxy waypoint-app:9000
  }

  reverse_proxy waypoint-app:9000
}
