WAYPOINT_APP_IMAGE=ghcr.io/waypointeducation/waypoint:stable

APP_ENV=production
APP_DEBUG=false
APP_URL=https://waypoint.example.edu.au
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=waypoint
DB_USERNAME=waypoint
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

CADDY_EMAIL=it@example.edu.au
CADDY_DOMAIN=waypoint.example.edu.au
